<html>
  <head>
	  <title>Sudoku Game</title>
	  <link type="text/css" rel="stylesheet" href="/stylesheets/application.css">
  </head>	
  <body>
  	<h1>LIFE IS TOO SHORT FOR PLAYING SODUKU</h1>
    <div id="sudoku">
    	<%3.times do |row|%>
    		<div class="row">
    			<%3.times do |box|%>
    				<div class ="box">
    					<%3.times do |cell_row|%>
    						<div class="cell_row">
    							<%3.times do |cell|%>
    								<div class="cell">
    									<input type="text" maxlength="1" autocomplete"off">
    								</div>
    							<%end%>
    						</div>
    					<%end%>
    				</div>
    			<%end%>		
    		</div>
    	<%end%>
    </div>						
  </body>
</html>