<html>
  <head>
      <title>Sudoku Game</title>
      <link type="text/css" rel="stylesheet" href="/stylesheets/application.css">
  </head>   
  <body>
    <h1>LIFE IS TOO SHORT FOR PLAYING SODUKU, SERIOUSLY</h1>
    <div id="flash">
      <%= flash[:notice]%>
    </div>
    <div id="sudoku">
      <form acion="/" method="post">
         <%3.times do |row| %>
             <div class="row">
                 <%3.times do |box|%>
                     <div class ="box">
                         <%3.times do |cell_row|%>
                             <div class="cell_row">
                                 <%3.times do |cell|%>
                                     <%= partial :cell, :locals=>{:cell_index => row*27+box*3+cell_row*9+cell}%>
                                 <%end%>
                             </div>
                         <%end%>
                     </div>
                 <%end%>     
             </div>
         <%end%>
      <button> Check solution </button> 
      </form>
    </div>                      
  </body>
</html>